/*
Colors used:
Primary Background color (black): #000000
Primary Text Color (white):#FFFFFF
Secondary Text Color (grey): #969696
Accent Color: #FF8900
*/
html {
  background-color:black;
}
*{
  box-sizing: border-box;
}
header{
  background-color:black; 
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #ffffff;
}
body {
  font-family: 'montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: grey;
}
.container {
  max-width: 1200px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.herobox1{
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: #414242;
  color:#ffffff
}
.navigation{
display: inline-block;
position:relative;
list-style-type: none;
padding: 0;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  color:#ffffff;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img{
    width: 100%;
}
a:link{
    color: #ffffff;
}
a:hover{
color: #ff7f50;
}
a:visited{
color: rgb(253, 209, 66);
}
a:active{
color: #a6a6a6;
}
.button {
    display:inline-block;
    background-color: #ff7f50;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    transition:0.2s opacity;
  }
.button:hover {
    opacity:0.8;
    text-decoration: none;
  }
.button.contact{
    box-sizing: border-box;
    background-color:#ff7f50;
    color: #ffffff;
    text-transform: uppercase;
  }
.row::after{
  content:"";
  display:table;
  clear: both;
}
.col-2 {
  float:left;
  width:50%;
  padding:10 px;
}
@media screen and (max-width:600px){
  .col-2{width:100%}  
}

